@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

@import "tailwindcss";

@source "../**/*.{js,jsx,ts,tsx}";
@source "../index.html";

@theme {
  --color-primary: #06c755;
  --color-background: #f5f5f5;
}

@layer base {
  #root {
    min-height: 100vh;
    background-color: var(--color-background);
  }
}
